body {
 background-image: url("../images/dust_scratches.png");
 font-family: 'Open Sans', sans-serif;
}

textarea#rform {
	border:2px solid #F7E98D;
}

div#success-alert {
  display: none;
}

label {

}

.final_form {
    background-color: #fff;
    padding: 0px 8px 0px 8px;
    margin: auto;
    width: 100%;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
}

.callout {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
    
.input-group-label {
   background-color: #aec6cf;
   display: block;
   font-family: 'Open Sans', sans-serif;
   margin:auto;
   width: 100%;
   word-wrap: break-word;
   white-space: normal;
   text-align: left;
   padding: 5px;
}

hr {
    margin-top:auto;
}

h1, h2, h3, h4 {
    display: block;
    margin:auto;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.button {
    background-color: #717D7E;
    padding: 5px;
    text-align: center;    
}

.button-group input{
  display: none;
}

.button-group input:checked + label,
.button-group input:checked + label:active {
    background-color: #339966;
}

.create-post {
   margin:auto;
   padding: 10px;
   background-color: #339966;
   text-align: left;
}

.custom-margin { 
    margin: auto;
}

.custom-result {
    text-align: left;
}

@media only screen and (max-width: 600px) {
   .create-post, .custom-input-group-field {
   text-align: center;
  }
}

@media only screen and (max-width: 600px) {
   .custom-margin {
   margin: auto;
  }
}

@media only screen and (max-width: 600px) {
   .input-group-label {
   background-color: #aec6cf;
   display: block;
   font-family: 'Open Sans', sans-serif;
   margin:auto;
   width: 100%;
   word-wrap: break-word;
   white-space: normal;
   text-align: center;
   padding: 5px;
  }
}
